.cd-image-label {
    transform: translateY(20px);
    transition: transform 0.3s 0.7s, opacity 0.3s 0.7s;
}

.cd-image-label.is-hidden {
    visibility: hidden;
}

.is-visible .cd-image-label {
    opacity: 1;
    transform: translateY(0);
}