@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(black,white);
    border-radius: 15px;


}
.big{
    font-size: 15rem;
}

.about2-bg{
    background-image: url("/src/assets/imgs/Climate1_edit.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: auto;
    width: 100%;
}

.about3-bg{
    background-image: url("/src/assets/imgs/Methane.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 350px;
    width: 100%;
}
.about6-bg{
    background-image: url("/src/assets/imgs/cows2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
}
.about4-bg{
    background-image: url("/src/assets/imgs/Space2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.about5-bg{
    background-image: url("/src/assets/imgs/Abstract.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
}

.showcase{
    background-image: url("/src/assets/imgs/news.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}
.showcase .overlay{
    background-color: rgba(0,0,0,.5);
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.earth {
    background-image: url("/src/assets/imgs/earth.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
}

.header {
    position:fixed;
    height: 90px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    transition: .3s ease-in;
    overflow: hidden;
}
.nav-bg{
    background-color:rgba(0,0,0,.9);
}
.logo{
  font-family: 'Horizon', sans-serif;
  color: #fff;
  font-size: 35pt;
  text-decoration: none;
}

.navlinks{
    color: #fff;
    font-family: 'Argentum Sans', sans-serif;
    font-weight: 150;
    font-size: 22pt;
    text-decoration: none;
    padding: .5rem 2rem;
    height: 100%;
    cursor: pointer;
}


.video-fundo{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.titulo1{

    font-family:'Basement Grotesque Black', sans-serif;

}

.titulo2{

    font-family: 'Argentum Sans', sans-serif;

}

.titulo3{

    font-family: 'Horizon', sans-serif;
}

.titulo4{

    font-family: 'doctor_glitch', sans-serif;

}



.yum{
    border-right: 1px solid white;
    padding-right: 10px;
    writing-mode: vertical-rl;
    text-orientation: mixed;

}

.btn{
    @apply rounded-full py-3 px-11 cursor-pointer bg-white text-black hover:bg-black hover:text-white

}

.btn2{
    @apply rounded-full py-3 px-11 cursor-pointer bg-black text-white opacity-95 hover:opacity-100 hover:drop-shadow-xl
}


.toggle-checkbox:checked {
    @apply: right-0 border-green-400;
    right: 0;
    border-color: #333333;
}
.toggle-checkbox:checked + .toggle-label {
    @apply: bg-green-400;
    background-color: #333333;
}

.gallery-cell {
    height: 500px;

}

.glitch {
    position: relative;
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
    0.025em 0.04em 0 #fffc00;
    animation: glitch 725ms infinite;
}

.glitch span {
    position: absolute;
    top: 0;
    left: 0;
}

.glitch span:first-child {
    animation: glitch 500ms infinite;
    clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
    transform: translate(-0.04em, -0.03em);
    opacity: 0.75;
}

.glitch span:last-child {
    animation: glitch 375ms infinite;
    clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
    transform: translate(0.04em, 0.03em);
    opacity: 0.75;
}

@keyframes glitch {
    0% {
        text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff;
    }
    15% {
        text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff;
    }
    16% {
        text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff;
    }
    49% {
        text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff;
    }
    50% {
        text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff;
    }
    99% {
        text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff;
    }
    100% {
        text-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #fc00ff;
    }
}
input[type="file"] {
    display: none;
}