@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(black,white);
    border-radius: 15px;


}
.big{
    font-size: 15rem;
}

.about2-bg{
    background-image: url("/src/assets/imgs/Climate1_edit.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: auto;
    width: 100%;
}

.about3-bg{
    background-image: url("/src/assets/imgs/Space.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.about4-bg{
    background-image: url("/src/assets/imgs/Space2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.about5-bg{
    background-image: url("/src/assets/imgs/Abstract.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header {
    position:fixed;
    height: 90px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    transition: .3s ease-in;
    overflow: hidden;
}
.nav-bg{
    background-color:rgba(0,0,0,.9);
}
.logo{
  font-family: 'Horizon', sans-serif;
  color: #fff;
  font-size: 35pt;
  text-decoration: none;
}

.navlinks{
    color: #fff;
    font-family: 'Argentum Sans', sans-serif;
    font-weight: 150;
    font-size: 22pt;
    text-decoration: none;
    padding: .5rem 2rem;
    height: 100%;
    cursor: pointer;
}


.video-fundo{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.titulo1{

    font-family:'Basement Grotesque Black', sans-serif;

}

.titulo2{

    font-family: 'Argentum Sans', sans-serif;

}

.yum{
    border-right: 1px solid white;
    padding-right: 10px;
    writing-mode: vertical-rl;
    text-orientation: mixed;

}

.titulo3{

    font-family: 'Horizon', sans-serif;
}



.btn{
    @apply rounded-full py-3 px-11 cursor-pointer bg-white text-black hover:bg-black hover:text-white

}

.btn2{
    @apply rounded-full py-3 px-11 cursor-pointer bg-black text-white opacity-95 hover:opacity-100 hover:drop-shadow-xl
}



.ativo:hover{font-weight: 100}